:root {
    --font-family-heading: "Montserrat", sans-serif;
    --font-family-text: "Open Sans", sans-serif;

    --color-primary: #c69963;
    --color-primary-dark: #b28451;

    --color-secondary: #101d2c;

    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: #aaa;

    --color-grey-dark-1: #54483a;
    --color-grey-dark-2: #6d5d4b;
}

//Breakpoints for Media Queries
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px

    @media screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: var(--font-family-text);
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
}

.container {
    display: grid;
    grid-template-rows: 100vh repeat(5, min-content);
    grid-template-columns:
        [full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
}

a {
    text-decoration: none;
    color: inherit;
}

.image-wrapper {
    overflow: hidden;
}

.btn--cta {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 0 3rem;
    font-size: 2rem;

    &:hover {
        color: var(--color-secondary);
        background-color: var(--color-primary);
    }
}
